@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafb;
  color: #4f4f4f;
  width: 100%;
}

.card {
  text-align: center;
  font-size: 10px;
  background-color: #fff;
  color: #828282;
  box-shadow: 0px 4px 12px 0px #0000001a;
  border-radius: 12px;
  padding: 36px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card > h1 {
  font-size: 18px;
  margin-bottom: 16px;
}

.dnd-container {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin: 30px 0 22px 0;
  color: #bdbdbd;
}

.dnd-container .dragndrop {
  width: 100%;
  background: #f6f8fb;
  color: #bdbdbd;
  border: 1px dashed #97bef4;
  border-radius: 12px;
  padding: 36px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 19px;
}

.dnd-container .dragndrop p {
  margin-top: 37px;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  cursor: pointer;
  background-color: #2f80ed;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
}

.copy-link {
  width: 74px;
  font-size: 8px;
  padding: 9px 0;
}

.material-icons {
  color: #219653;
  width: 35px;
  margin-bottom: 10px;
}

.img {
  border-radius: 12px;
}

.image-link {
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 338px;
  height: 34px;
  background: #f6f8fb;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding-left: 7px;
}

.loading {
  align-self: flex-start;
}

.progressbar {
  width: 340px;
  height: 6px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.progress {
  height: 100%;
  background-color: #2f80ed;
  border-radius: 8px;
}

.message {
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 12px;
  position: absolute;
  right: 5%;
  top: 5%;
  color: #fff;
}

footer {
  color: #a9a9a9;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}

a {
  font-weight: 700;
  color: inherit;
}
